{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
   "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-multi-assign": 0,
    "indent": ["error", 4, {"ignoredNodes": ["JSXElement"]}],
    "react/jsx-indent": ["error", 4],
    "object-curly-spacing": ["error", "never"]
  },
  "env": {
      "browser": true,
      "es6": true
    }
}
