.layout {
    position: absolute;
    z-index: 1000;

    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.settings {
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content {
    margin-top: 15px;
}
