.settings {
    display: flex;
    margin-bottom: 10px;
}

.filter + .filter {
    margin-top: 15px;
}

.popup {
    padding: 15px 20px;
    background-color: #E5E7E6;
    border-radius: 10px;
}

.options {
    max-height: 80vh;
    overflow: auto;
}

.heading {
    margin-top: 0;
    margin-bottom: 10px;
}

.filterButton {
    margin-top: 15px;
}
